@charset "UTF-8";
/* CSS Document */
body{
	background: -moz-linear-gradient( 145deg, rgb(231,6,0) 0%, rgb(251,128,0) 100%);
  	background: -webkit-linear-gradient( 145deg, rgb(231,6,0) 0%, rgb(251,128,0) 100%);
 	background: -ms-linear-gradient( 145deg, rgb(231,6,0) 0%, rgb(251,128,0) 100%);
	background:#f14600\0; _background:#f14600; *background:#f14600;
	line-height:18px;margin:0px;padding:0px;font-weight:lighter;
	font:14px "Microsoft YaHei","微软雅黑","宋体","Arial Narrow",HELVETICA;
	border:0 \9;
	}
a{ text-decoration:none;}
img{border:0;margin:0;display:block;}
#main{width:1000px;margin:0 auto;padding:0; overflow:hidden;}
#left{width:250px; height:478px; margin:30px 0 0 20px; float:left;}
#right{width:730px;margin:0; position:relative; float:left; background:url(../img/right_bg.png) no-repeat 16px 14px}
#right a{color:#ffe374;}
#right a:hover{color:#ffc6aa;}	
#sub_right{ float:left;width:710px;min-height:500px;margin:30px 0 0 0;background:rgba(251,128,0,0.5); background:#f57333 \9; border-radius:20px;}
#left div{ float:right;}

#SR_square{width:360px; height:440px; float:left;background:#000; border-bottom-left-radius:20px;}
#SR_square a{width:320px; height:180px; float:left;margin:30px 0 0 20px;}
#SR_square a:hover{ filter:alpha(Opacity=80); opacity: 0.8;}

#INDEX_TEXT{width:340px; height:420px; float:left;background:rgba(251,128,0,0.5);background:#f45200 \9; border-bottom-right-radius:20px;}
#INDEX_TEXT div{width:300px; height:380px; color:#ffe8dd; margin:20px; float:left;background:rgba(255,255,255,0.2); background:#f57333 \9;border-bottom-right-radius:20px;}
#INDEX_TEXT div .title{font-size:18px;text-align:center;display:block; margin:20px;}
#INDEX_TEXT div p{font-size:14px;margin:0px 20px; line-height:26px;}

#player{height:24px;width:200px;float:right;margin:0 10px 10px 10px;text-align:right;color:#fff; font-size:14px;}
#player a{width:50px;height:22px; display:inline-block;float:right;margin-left:16px;background:url(../img/icon.png) -10px -10px;}
#player .playing{background:url(../img/icon.png) -10px -32px;}
#player a:hover{filter:alpha(Opacity=90); opacity: 0.9;}
#player span{ display:inline-block; float:right;}

#right_player{height:32px;width:100%;float:right;margin:-10px 20px 10px 0;text-align:right; line-height:32px;color:#fff; font-size:12px;}
#right_player a{width:120px;height:32px;float:right;margin-right:3px;background:url(../img/icon.png) -10px -60px;}
#right_player .playing{background:url(../img/icon.png) -10px -100px;}
#right_player a:hover{filter:alpha(Opacity=85); opacity: 0.85;}

#nav{width:250px;height:230px;padding:34px 0 0 0;margin:0px;background:url(../img/nav_bg.png) no-repeat; float:right;}
#nav a{font:18px "Microsoft YaHei","HELVETICA NEUE",HELVETICA;color:#707070;width:140px;height:28px;background:url(../img/icon.png) no-repeat -283px -35px;margin:0 0 0 58px;padding:2px 0 16px 52px;display:block;float:left;text-decoration:none;}
#nav #nownav{background:url(../img/icon.png) no-repeat -283px 0;color:#fff;}
#nav #nownav1{background:url(../img/icon.png) no-repeat -283px -90px;color:#fff;}
#nav #defnav1{background:url(../img/icon.png) no-repeat -283px -179px;}
#nav a:hover{color:#f86f00;}
#nav a span{font:12px "Microsoft YaHei","微软雅黑","宋体","Arial Narrow",HELVETICA;padding-left:6px;}
#nav_bottom{width:250px;height:40px;background:url(../img/icon.png) no-repeat -63px -269px;}

/*FOOTER*/
#footer{width:100%; overflow:hidden; margin:30px 0 0 0; text-align:center;background:rgba(251,128,0,0.5); background:#f76900 \9;}
#footer a{ text-align:center;display:inline-block;font-size:12px;color:#fff; margin:15px 30px 15px 0;}	
#footer a:hover{color:#ffc6aa;}	
#footer a span{ display:inline-block; margin-right:4px;width:24px; height:20px; padding-bottom:0px;background:url(../img/icon.png) no-repeat -70px -30px;}
#footer span{font-size:12px;color:#ffc6aa;display:block; padding-bottom:10px;}
#footer span a {color:#ffc6aa;margin:0 0 0 10px; min-width:10px; min-height:10px;}

/*SLIDER*/
#imgauto{width:710PX;height:210px;position:relative;float:left; margin:30px 20px 0 0;}
#imgauto img{border-top-left-radius:20px;border-top-right-radius:20px;}	
.img-con,.next,.pre,.backbg,.img-btn{display:block;position:absolute;}
.img-con{left:0px;top:0;z-index:50;}
.img-con a{display:none;}
.img-btn{left:590px;top:190px;z-index:100;}
.img-btn a{float:left;margin-right:10px;width:13px;height:13px;cursor:pointer;background:url(../img/icon.png) no-repeat -70px -10px;}
.img-btn .img-btn-checked{background:url(../img/icon.png) no-repeat -90px -10px;}

/*SUB*/
#sub_right .title{color:#fff; width:670px; float:left; font-size:18px; font-family: Helvetica, sans-serif; margin:30px 0 20px 20px; padding-bottom:6px; border-bottom:#fff solid 1px;}
#sub_right .title span{ display:block; float:right; font-size:12px; margin-top:5px;}
.events_img{ width:670px; height:140px; margin:0 20px 20px 20px; float:left;}
.events_title{ position:relative; bottom:30px; width:630px; height:25px; padding:5px 20px 0 20px; background:rgba(0,0,0,0.6);background:#383838 \9; font-size:14px; color:#fff;}
.events_title span{ display:block; float:right; font-size:12px; padding-top:2px;}
.events_img a:hover .events_title{ color:#fb8000;}

#events_content{color:#fff; font-size:14px; line-height:26px; padding:20px;}
#events_content span{font-size:18px; text-align:center; line-height:28px; display:block;}
#events_content img{max-width:670px; margin:10px auto;}
#events_content a{color:#ffe374;}	
#events_content a:hover{color:#ffc6aa;}	
#events_content hr{ height:1px; width:100%; float:left; border:none; border-top:1px dashed;}

.djs_img{ width:200px; height:200px; margin:0 10px 30px 20px; float:left;}
.djs_img #right_player{ width:123px; overflow:hidden; float:left;}
.djs_title{ position:relative; bottom:30px; width:160px; height:25px; padding:5px 20px 0 20px; background:rgba(0,0,0,0.6);background:#383838 \9; font-size:14px; color:#fff;}
.djs_img a:hover .djs_title{ color:#fb8000;}
.djs_content{ float:left; width:450px; color:#fff; font-size:14px; line-height:28px; margin-left:10px;}
.djs_content img{max-width:450px; margin:10px auto;}
.djs_content strong{ line-height:40px;}

/*RB*/
#rblayer1, #rblayer2, #rblayer3{ background:#FFF; position:absolute; width:500px; height:400px; top:50px; left:200px; margin:0 auto; }